@media screen and (min-width: 767px) {
	.comment{
		position: absolute;
		margin-left: 130px;
		margin-top: 60px;
	}
	.phone-select {
		width: 180px !important;
	}
	.control {
		margin-top: 15px;
	}
	.hidden-desktop {
		display: none !important;
	}
	.left-banner{
		width: 200px;
		height: 800;
	}
	.inputs-container.ng-enter {
	  animation: 0.8s enter;
	}
	
	.inputs-container.ng-leave {
	  animation: 0.5s slide_up;
	  overflow: hidden;
	}
	
	@keyframes enter {
	  from { opacity: 0;}
	  to { opacity: 1;}
	}
	
	@keyframes slide_up {
	  from { height:200px; opacity: 1;}
	  to { height:0px; opacity: 0;}
	}
}