@media screen and (max-width: 767px) {
	.form-inline {
		text-align: center;
	}		
	.control {
		margin-top: 25px;
	}
	.hidden-phone {
		display: none !important;
	}
	
	.inputs-container.ng-enter {
	  animation: 0.8s enter;
	}
	
	.inputs-container.ng-leave {
	  animation: 0.5s slide_up;
	  overflow: hidden;
	}
	
	@keyframes enter {
	  from { opacity: 0;}
	  to { opacity: 1;}
	}
	
	@keyframes slide_up {
	  from { height:330px; opacity: 1;}
	  to { height:0px; opacity: 0;}
	}
	
}