[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.inputs-container{
	padding-top: 5px;
	padding-bottom: 5px;
}

.phone-photo {
		height: 200px;
		width: 160px;
}

.brand-photo {
	margin: 15px;		
	height: 22px;
	width: 92px;
}

.result{
		margin-top: 20px;
}

.right-panel {
	<!-- style -->
}
.left-panel {
	<!-- style -->
}

.send-message{
	cursor: pointer;
}

.share-buttons{
	text-align: center;
	margin-bottom: 40px;
}

.share-buttons .back-button{
	float: right;
}

.share-buttons .fb-button{
	float: left;
}

.share-buttons .fb-button .fb-share{
	width: 80px;
	height: 30px;
}

.center-panel{
	margin-bottom: 40px;
}