<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">My Last Phone</a>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">