<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">
<head>
<title>mylastphone.com</title>
<meta property="og:url"           content="http://www.mylastphone.com" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="mylastphone.com" />
<meta property="og:description"   content="Check what your old phones say about you" />
<meta property="og:image"         content="http://www.mylastphone.com/mylastphone/web/images/img.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="icon" type="image/png" href="/mylastphone/web/images/favicon.png" />
<link rel="stylesheet" href="/mylastphone/web/style/style.css">
<link rel="stylesheet" href="/mylastphone/web/style/desktop_style.css">
<link rel="stylesheet" href="/mylastphone/web/style/phone_style.css">
<script src="https://code.angularjs.org/1.4.1/angular.js"></script>
<script src="https://code.angularjs.org/1.4.1/angular-route.js"></script>
<script src="https://code.angularjs.org/1.4.1/angular-cookies.js"></script>
<script src="https://code.angularjs.org/1.4.1/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/mylastphone/web/script/module.js"></script>
<script src="/mylastphone/web/script/run.js"></script>
<script src="/mylastphone/web/script/main_controller.js"></script>
<script src="/mylastphone/web/script/input_controller.js"></script>
<script src="/mylastphone/web/script/factories.js"></script>
<script src="/mylastphone/web/script/directives.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-67828703-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body ng-controller="MainController as mainCtr" ng-cloak>

	<head-panel></head-panel>
	<left-panel></left-panel>
	
	<div class="col-lg-8 center-panel">
	
		<div class="form-group send-message" data-toggle="modal" data-target="#messageModal"><i class="glyphicon glyphicon-phone"></i> Let us know if one of your beautiful devices doesn't show up here!</div>
	
		<form collapse="isCollapsed" class="form-inline" role="form">
			
			<div class="inputs-container" ng-repeat="input in inputs" ng-controller="InputController as inputCtr">
				
				<span class="comment hidden-phone"><i>{{comment}}</i></span>
				
				<div class="form-group hidden-phone">
					<img class="brand-photo" ng-src="{{brandPhoto}}"/>				
				</div>
				
				<div class="form-group">					
					<select class="form-control phone-select" ng-model="filterBrand" ng-change="getPhones($parent.$index, filterBrand)">
						<option ng-repeat="brand in brands | orderBy: asc">{{brand}}</option>
					</select>
				</div>
				
				<div class="form-group">
					<select class="form-control phone-select" ng-model="phoneOption" ng-change="phoneSelected($parent.$index, filterBrand, phoneOption)">
						<option ng-repeat="phone in phones | orderBy: asc">{{phone}}</option>
					</select>					
				</div>
				
				<div class="form-group hidden-desktop">
					<i>{{comment}}</i>
				</div>
				
				<div class="form-group">
					<img class="phone-photo" ng-src="{{phonePhoto}}"/>					
				</div>
				
				<div class="form-group">					
					<button class="btn btn-danger" ng-click="remove($index)" ng-show="inputs.length>1">
						<i class="hidden-desktop glyphicon glyphicon-hand-up"></i>
						<i class="hidden-phone glyphicon glyphicon-hand-left"></i>
						remove
					</button>					
				</div>
			
			</div>
				
			<div class="control">				
				<button class="btn btn-primary" ng-click="addInput(); goToBottom()">
					<i class="glyphicon glyphicon-plus"></i> add phone
				</button>				
				<button class="btn btn-success" ng-click="getResult(); $parent.isCollapsed=!$parent.isCollapsed" ng-show="inputs.length>0" ng-disabled="isResultDisabled">
					<i class="glyphicon glyphicon-th-list"></i> result
				</button>				
				<button class="btn btn-info" ng-click="resetInputs()" ng-show="inputs.length>1">
					<i class="glyphicon glyphicon-remove"></i> reset
				</button>			
			</div>
			
		</form>
		
		<div class="result" collapse="!isCollapsed">
					
			<table class="table">
			  <thead>
			      <tr>
			        <th>Name</th>
			        <th>Released</th>
			        <th>Favorites</th>
			      </tr>
			  </thead>
			  <tbody>
				  <tr class="success" ng-repeat="phoneDetails in details">
			        <td>{{phoneDetails.name}}</td>
			        <td>{{phoneDetails.yearRelease}}</td>
			        <td>{{phoneDetails.favoriteCount}}</td>
				  </tr>
				  <tr class="info" ng-show="details.length>1">
			        <td></td>
			        <td></td>
			        <td colspan="3">Total: {{totalFavorites}}</td>
				  </tr>
				  <tr>
			    	<td colspan="3">
			    		<p>
					    	Your most beautiful phone is <b><i>{{bestPhoneName}}</i></b> which has a total of {{bestPhoneFavorites}} favorites. Throughout time you had {{phonesCount}} phone<span ng-if="details.length>1">s and starting from your oldest phone to the newest one have been past {{phonesPeriod}} years</span>.<span ng-if="totalWeight!=0 && inputs.length>1"> They have a total of {{totalWeight}} grams (or {{totalWeight/1000}} kilograms).</span>
					    	{{getDisplayResult}} {{getFavoriteResult}} {{getWeightResult}}
				    	</p>
				    	<p>
				    		{{bestPhoneOS}}
				    	</p>
					</td>
				  </tr>
			  </tbody>  
			</table>
			  
			<div class="share-buttons">
			
				  <span class="fb-button">			  
					  <a href="https://www.facebook.com/dialog/feed?app_id=147025452310142&display=popup&caption={{fbCaption}}&link={{fbLink}}&picture={{fbPicture}}&description={{fbDescription}}&redirect_uri={{fbRedirectURI}}"><img class="fb-share" src="/mylastphone/web/images/fb_share.png" title="Share your result"/></a>
				  </span>
				  
				  <span class="back-button">
					  <button class="btn btn-success back-button" ng-click="$parent.isCollapsed=!$parent.isCollapsed">
						<i class="glyphicon glyphicon-repeat"></i> back
					  </button>
				  </span>
				  
			</div>
		  
		</div>
		
		<message-modal></message-modal>
		
		<div id="bottom"></div>
	</div>
	<div class="col-lg-2 right-panel hidden-phone">
		<!-- Begin BidVertiser code -->
		<SCRIPT
			SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=688581&bid=1717104"
			TYPE="text/javascript"></SCRIPT>
		<!-- End BidVertiser code -->
	</div>
	<footer-panel></footer-panel>